body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-image: url(https://en.idei.club/uploads/posts/2023-03/1679556803_en-idei-club-p-sino-zhovtii-fon-dizain-pinterest-1.jpg);
}